#set global $title="Téléchargements"
#include "config/templates/includes/header.tmpl"

#set global $selected_top_menu_id=$constants.DOWNLOAD_MENU_ID
#include "config/templates/includes/top_menus.tmpl"

#if $len($downloads) == 0
Aucun téléchargement en cours
#else
  <table bgcolor=#aaaaaa border=0 cellspacing=1 cellpadding=2>
    <tr bgcolor="#efefef">
	  <td align=center><b>Titre</b></td>
	  <td align=center><b>Transféré</b></td>
	  <td align=center><b>Taille</b></td>
	  <td align=center><b>Vitesse</b></td>
	  <td align=center><b>Etat</b></td>
	  <td align=center></td>
	</tr>
	<br>

#for $download in $downloads
#set documentInfo = $database.getDocumentInfo($download.getDocumentID())
    <tr bgcolor=#ffffff>
	  <td align=left><a href="/maay/document?did=$documentInfo.document_id">$documentInfo.title</a></td>
	  <td align=left>$download.getTransferred()</td>
	  <td align=right>$documentInfo.size</td>
	  <td align=right>n/a</td>
	  <td>$download.getStateStr()</td>
	  <td><a href="/maay/canceldownload?did=$documentInfo.document_id">cancel</a></td>
	</tr>
#end for

#end if


#include "config/templates/includes/footer.tmpl"
