#set global $title="Aide"
#include "config/templates/includes/header.tmpl"

#set global $selected_top_menu_id=$constants.HELP_MENU_ID
#include "config/templates/includes/top_menus.tmpl"

Page en construction...

<h1>Bookmarklet</h1>
Vous pouvez ajouter ces liens à votre marque page pour une meilleure utilisation de Maay :
<ul>
<li><a "Maay" href="http://127.0.0.1:6446" onclick="window.alert('Drag this link to your toolbar or right-click it and choose Add to Favorites.');">Maay</a> (pour aller sur votre page Maay)</li>
<li><a href="javascript:w=window.open('http://127.0.0.1:6446/maay/maayify?url='+escape(location.href)+'&title='+encodeURIComponent(document.title), 'Maayify this page', 'toolbar=no,width=600,height=250');w.raise();w.focus();" onclick="window.alert('Drag this link to your toolbar or right-click it and choose Add to Favorites.');return false;">Maayifier cette page</a> (pour indexer une page visitée et l'annoter)</li>
</ul>
<!--< end help_page >-->



#include "config/templates/includes/footer.tmpl"
