#set global $title="A propos"
#include "config/templates/includes/header.tmpl"

#set global $selected_top_menu_id=$constants.LOGS_MENU_ID
#include "config/templates/includes/top_menus.tmpl"

#set $colors = {'INFO': "#000000", 'DEBUG': "#aaaaaa", 'EXCEPTION': "#aa0000", 'ERROR': "#ff0000"}

#for $log in $logReader
<font color="$colors[$log[0]]">$log[1]</font><br>
#end for

#include "config/templates/includes/footer.tmpl"
