#set global $title="Configuration sécurité"
#include "config/templates/includes/header.tmpl"

#set global $selected_top_menu_id=$constants.PREFERENCES_MENU_ID
#include "config/templates/includes/top_menus.tmpl"

#set global $selected_pref_menu_id=$constants.UI_PREFERENCE_MENU_ID
#include "config/templates/includes/preferences_header.tmpl"

<h1>Page des résultats</h1>
  <form action="/maay/prefui">
#set s10=""
#set s20=""
#set s50=""
#set s100=""
#if $result_count_per_page == 10
#set s10="selected"
#end if
#if $result_count_per_page == 20
#set s20="selected"
#end if
#if $result_count_per_page == 50
#set s50="selected"
#end if
#if $result_count_per_page == 100
#set s100="selected"
#end if

  Nombre de résultats à afficher par page : <select name="rs">
    <option value="10" $s10>10</option>
    <option value="20" $s20>20</option>
    <option value="50" $s50>50</option>
    <option value="100" $s100>100</option>
  </select>
  	<input type="submit" value="Modifier">
   </form>

#include "config/templates/includes/preferences_footer.tmpl"

#include "config/templates/includes/footer.tmpl"
