#set global $title="Configuration sécurité"
#include "config/templates/includes/header.tmpl"

#set global $selected_top_menu_id=$constants.PREFERENCES_MENU_ID
#include "config/templates/includes/top_menus.tmpl"

#set global $selected_pref_menu_id=$constants.INDEXATION_PREFERENCE_MENU_ID
#include "config/templates/includes/preferences_header.tmpl"

<h1>Répertoires indexés</h1>
<form action="/maay/prefindexation">
<font color=green>Indexer ses répértoires (et sous-répertoires) suivants. </font><br>
<small><i>Ecrivez un répertoire par ligne.</i></small><br>
<textarea name="indexedDirectories" rows=3 cols=80 style="background:#ddffdd">$indexedDirectories</textarea>
<br>
<font color=red>Ne pas indexer ces répertoires (et sous-répertoires) suivants.</font><br>
<small><i>Ecrivez un répertoire par ligne.</i></small><br>
<textarea name="notIndexedDirectories" rows=3 cols=80 style="background:#ffdddd">$notIndexedDirectories</textarea>

<h1>Repertoires publiés</h1>
<font color=green>Publier ses répértoires (et sous-répertoires) suivants. </font><br>
<small><i>Ecrivez un répertoire par ligne.</i></small><br>
<textarea name="publishedDirectories" rows=3 cols=80 style="background:#ddffdd">$publishedDirectories</textarea>
<br>
<font color=red>Ne pas publier ces répertoires (et sous-répertoires) suivants.</font><br>
<small><i>Ecrivez un répertoire par ligne.</i></small><br>
<textarea name="notPublishedDirectories" rows=3 cols=80 style="background:#ffdddd">$notPublishedDirectories</textarea>
<br>

<input type="submit" name="save" value="Sauvegarder les règles d'indexations">
</form>

#include "config/templates/includes/preferences_footer.tmpl"

#include "config/templates/includes/footer.tmpl"
