# revision: $Id$
recursive-include maay/test/ *.py *.txt *.txt.bz2 *.txt.gz *.xml *.html *.ini
recursive-include maay/data/ *.html *.css *.gif *.png *.jpg *.ico
recursive-include maay/sql *.sql
include maay/bin/maay-server
include maay/bin/maay-indexer
include ReleaseNotes
include ChangeLog
