body {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt;}

tr   {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt;}
td   {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt;}
form   {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt}
h1 { font-family: arial,helvetica; font-size: 12pt; color: #000000; font-weight:bold }
h2   {  font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-style: italic ; font-weight: bold ; color: #444444}
h3   {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #888888}

A:link    {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #3366cc}
A:visited {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #003399}
A:hover   {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #6699ff}

a.q:visited, a.q:link, a.q:active {text-decoration: none; color: #00c;}

a.s:visited, a.s:link, a.s:active {text-decoration: none; color: #444488;font-weight:bold}

a.w, a.w:visited, a.w:link {text-decoration: none; color: #000000;font-weight:bold}
a.w:hover, a.w:active {text-decoration: none; color: #ffffff;font-weight:bold}

a.ws, a.ws:visited, a.ws:link, a.ws:hover {text-decoration: none; color: #ffffff;font-weight:bold}

a.green, a.green:visited, a.green:link, a.green:hover {text-decoration: none; color: green}

a.gray:visited, a.gray:link { font-family: arial,helvetica; font-size: 9pt; color: #888888;text-decoration: none }

a.biggray { font-family: arial,helvetica; font-size: 11pt; color: #888888;text-decoration: none ; font-weight:bold }
.biggray { font-family: arial,helvetica; font-size: 11pt; color: #888888;text-decoration: none ; font-weight:bold }

.bigblack { font-family: arial,helvetica; font-size: 11pt; color: #000000; font-weight:bold }

a:link.w:visited {text-decoration: none; color: #ffffff;}

.green { font-family: arial,helvetica; font-size: 9pt; color: #008000; }
.red { font-family: arial,helvetica; font-size: 9pt; color: #aa0000; }
.gray { font-family: arial,helvetica; font-size: 9pt; color: #888888; }
.small { font-family: arial,helvetica; font-size: 9pt }
.verysmall { font-family: arial,helvetica; font-size: 8pt }

.debug { color: #aaaaaa}
.info { color: #000000}
.exception { color: #ff0000}
