#set global $title="Noeuds"
#include "config/templates/includes/header.tmpl"

#set global $selected_top_menu_id=$constants.NODES_MENU_ID
#include "config/templates/includes/top_menus.tmpl"

<table bgcolor=#aaaaaa border=0 cellspacing=1 cellpadding=1>
  <tr bgcolor="#efefef">
    <td align=center><b>ID du noeuds</b></td>
    <td align=center><b>Adresse IP</b></td>
    <td align=center><b>Port</b></td>
    <td align=center><b>Dernier contact</b></td>
    <td align=center><b>Bande passante</b></td>
    <td align=center><b>Manifestations d'intêrets</b></td>
    <td align=center><b>Affinité</b></td>
  </tr>
#for $nodeInfo in $nodeInfos
    <tr bgcolor=#ffffff>
	  <td><a href="/maay/nodeinfo?nid=$nodeInfo.node_id">$nodeInfo.node_id</a></td>
	  <td>$nodeInfo.ip</td>
	  <td>$nodeInfo.port</td>
	  <td>$nodeInfo.last_seen_time</td>
	  <td>$nodeInfo.bandwidth</td>
	  <td>$nodeInfo.claim_count</td>
	  <td>$nodeInfo.affinity</td>
	</tr>
#end for

</table>

#include "config/templates/includes/footer.tmpl"
