#set global $title="Configuration sécurité"
#include "config/templates/includes/header.tmpl"

#set global $selected_top_menu_id=$constants.PREFERENCES_MENU_ID
#include "config/templates/includes/top_menus.tmpl"

#set global $selected_pref_menu_id=$constants.DEBUG_PREFERENCE_MENU_ID
#include "config/templates/includes/preferences_header.tmpl"

<h1>Mode d'utilisation de Maay</h1>
  Si vous êtes <b>developpeur de Maay</b>, choisissez le mode <b>developpeur</b> sinon choisissez le mode <b>utilisateur</b>.<br><br>
  <form action="/maay/prefdebug">
  Choisissez votre mode d'utilisation: <select name="mode">
#set $suser=""
#set $sdevelopper=""
#if $mode == $constants.USER_MODE:
#set $suser="selected"
#end if
#if $mode == $constants.DEVELOPPER_MODE
#set $sdevelopper="selected"
#end if

    <option value="user" $suser>Mode utilisateur</option>
    <option value="developper" $sdevelopper>Mode développeur</option>
  </select>
  	<input type="submit" value="Changer le mode">
   </form>
#if $mode == $constants.DEVELOPPER_MODE
<h1>Indexation</h1>
    <h2>Priorité</h2>
    <form action="/maay/prefdebug">
    Choisissez la priorité de l'indexeur:<br>
#set sprio1=""
#set sprio2=""
#set sprio3=""
#if $priority == $constants.LOW_PRIORITY
#set sprio1="selected"
#end if
#if $priority == $constants.MEDIUM_PRIORITY
#set sprio2="selected"
#end if
#if $priority == $constants.HIGH_PRIORITY
#set sprio3="selected"
#end if

    <select name="idxpr">
      <option value="$constants.LOW_PRIORITY" $sprio1>low (default)</option>
      <option value="$constants.MEDIUM_PRIORITY" $sprio2>medium</option>
      <option value="$constants.HIGH_PRIORITY" $sprio3>high</option>
    </select>
      <input type="submit" value="Modifier la priorité">
    </form>

<h1>Actions</h1>
  <b>Etat de l'indexation des fichiers publiés :</b>$publishedIndexationState<br>
  <b>Etat de l'indexation des fichiers privés :</b>$privateIndexationState<br>
  <form action="/maay/prefdebug">
 	<input type="submit" name="affinity" value="Recompute affinity">
  	<input type="submit" name="matching" value="Recompute matching">
 	<input type="submit" name="pubrepository" value="Rescan published repository">
 	<input type="submit" name="prirepository" value="Rescan private repository">
   </form>

#end if

<!--
<hr>
<font color=red>TODO:</font>
<hr>

<h1>Network Preference</h1>
  <form action="">
    <table>
	<tr>
		<td>Simultaneous Download</td>
		<td><input type="text" maxlength=3 size=3 value=""></td>
	</tr>
	<tr>
		<td>Max Download Bandwidth</td>
		<td><input type="text" maxlength=3 size=3></td>
	</tr>
	<tr>
		<td>Simultaneous Upload</td>
		<td><input type="text" maxlength=3 size=3></td>
	</tr>
	<tr>
		<td>Max Upload Bandwidth</td>
		<td><input type="text" maxlength=3 size=3></td>
	</tr>
	</table>
  </form>
<hr>
<h1>Repository</h2>
    <form action="/maay/prefdebug">
      Choose the repository to index:<br>
      &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="idxpriv">Private repository<br>
      &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="idxpub"> Published repository<br>
      &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="idxcac"> Cached repository<br>
        <input type="submit" value="Change priority">
    </form>
<hr>

-->

#include "config/templates/includes/preferences_footer.tmpl"

#include "config/templates/includes/footer.tmpl"
