/** login page ********/
table.loginTable {
  width: 100%;
}

/** search page *******/
input.searchButton {
  background: #FFF0FF;
  border: 1px outset #ff2222;
  margin: 5 10 5 0;
}

table.searchHome {
  width: 100%;
  text-align: center;
}

div.resultItem {
  margin-top: 5px;
  margin-bottom: 5px;
}

div.resultDesc {
  /* display: block; */
  font-size: 90%;
  font-family: "New Century Schoolbook", serif;
  margin-bottom: 0px;
  padding: 0 0 0 0;
  width: 40%;
}

a.docTitle {
  display: block;
}

span.resultUrl {
  font-size: 90%;
  font-family: "New Century Schoolbook", serif;
  font-weight: bold;
  color: green;
  text-decoration: none;
}

div.prevnext {
  width: 100%;
}

div.prevnext a {
  font-size: 110%;
  font-weight: bold;
  color: blue;
}
