#set global $title="Documents"
#include "config/templates/includes/header.tmpl"

#set global $selected_top_menu_id=$constants.DOCUMENTS_MENU_ID
#include "config/templates/includes/top_menus.tmpl"

## display tabs
#if $mode == $constants.DEVELOPPER_MODE
#set repository_tabs = [ [$constants.PRIVATE_STATE, "Documents privés"], [$constants.PUBLISHED_STATE, "Documents publiés"], [$constants.CACHED_STATE, "Documents mis en cache"], [$constants.KNOWN_STATE, "Documents connus"] ]
#else
#set repository_tabs = [ [$constants.PRIVATE_STATE, "Documents privés"], [$constants.PUBLISHED_STATE, "Documents publiés"], [$constants.CACHED_STATE, "Documents mis en cache"]]
#end if
<br>
<table cellspacing=0 cellpadding=0 border=0 width=100%>
  <tr height=19>
    <td width=100>Etat:&nbsp;</td>

#for $tab in $repository_tabs

#if $tab[0] == $selected_document_state
   <td bgcolor=#3366cc valign=center nowrap onClick="document.location='/maay/documents?v=$tab[0]';return false;" style=cursor:pointer;cursor:hand; align=center>
   <a class=q href=/maay/documents?v=$tab[0]><font color=#ffffff><b>$tab[1]&nbsp;</b></font></a>
   </td>
   <td width=15>&nbsp;</td>
#else
   <td bgcolor=#efefef valign=center nowrap onClick="document.location='/maay/documents?v=$tab[0]';return false;" style=cursor:pointer;cursor:hand; align=center>
   <a class='q' href='/maay/documents?v=$tab[0]'>$tab[1]&nbsp;</a>
   </td>
   <td width=15>&nbsp;</td>
#end if

#end for

  </tr>
  <tr>
#set $colspan = len($repository_tabs) * 2 + 1
    <td colspan="$colspan" height=1 bgcolor=#3366cc></td>
  </tr>
</table>

#if len($documentInfos) == 0
<br>
$_("Aucun documents.")
#else

  <table bgcolor=#aaaaaa border=0 cellspacing=1 cellpadding=2>
    <tr bgcolor="#efefef">
	  <td align=center>$_("Title")</td>
	  <td align=center>$_("Mime Type")</td>
	  <td align=center nowrap>$_("Size")</td>
	  <td align=center nowrap>$_("Publication Time")</td>
	  <td align=center nowrap>$_("Download Count")</td>
	  <td align=center nowrap>$_("Matching")</td>
	</tr>
	<br>

#for $documentInfo in $documentInfos
    <tr bgcolor=#ffffff>
	  <td align=left><a href="/maay/documentinfo?did=$documentInfo.document_id">$documentInfo.title</a></td>
	  <td>$documentInfo.mime_type</td>
	  <td align=right>$documentInfo.size</td>
	  <td>$documentInfo.publication_time</td>
	  <td align=right>$documentInfo.size</td>
	  <td align=right>$documentInfo.matching</td>
	</tr>
#end for

  </table>

#end if

#include "config/templates/includes/footer.tmpl"
