#set global $title="Information sur le document $documentInfo.title"
#include "config/templates/includes/header.tmpl"

#set global $selected_top_menu_id=$constants.DOCUMENTS_MENU_ID
#include "config/templates/includes/top_menus.tmpl"

<h1>Information sur le document '<i>$documentInfo.title</i>'</h1>
<br>
## General information on document
<table bgcolor=#aaaaaa border=0 cellspacing=1 cellpadding=2>
  <tr bgcolor="#efefef">
        <td colspan=2><b>Informations générales</b></td>
  </tr>
  <tr bgcolor="#ffffff">
        <td><b>ID du document</b></td>
        <td>$documentInfo.document_id</td>
      </tr>
  <tr bgcolor="#ffffff">
        <td><b>Date de publication</b></td>
        <td>$documentInfo.publication_time</td>
      </tr>
  <tr bgcolor="#ffffff">
        <td><b>Titre</b></td>
        <td>$documentInfo.title</td>
      </tr>
  <tr bgcolor="#ffffff">
        <td><b>Taille</b></td>
        <td>$documentInfo.size bytes</td>
      </tr>
  <tr bgcolor="#ffffff">
        <td><b>Type mime</b></td>
        <td>$documentInfo.mime_type</td>
      </tr>
  <tr bgcolor="#ffffff">
        <td><b>Etat</b></td>
        <td>$documentInfo.state</td>
      </tr>
  <tr bgcolor="#ffffff">
        <td><b>Nombre de téléchargements</b></td>
        <td>$documentInfo.download_count</td>
      </tr>
  <tr bgcolor="#ffffff">
        <td><b>URL</b></td>
        <td>$documentInfo.url</td>
      </tr>
  <tr bgcolor="#ffffff">
        <td><b>Convenance</b></td>
        <td>$documentInfo.matching</td>
      </tr>
</table>
<br>
<a href="/maay/document?did=$documentInfo.document_id"> View document</a><br>
<a href="/maay/doctext?did=$documentInfo.document_id" target="__blank"> View text document</a><br>
<br><br>

## Files instance of the document
  <table bgcolor=#aaaaaa border=0 cellspacing=1 cellpadding=2>
    <tr bgcolor="#efefef">
	  <td colspan=3><b>Fichiers</b></td>
    </tr>
#for $fileInfo in $fileInfos
    <tr bgcolor="#ffffff">
      <td><b>Nom du fichier</b></td>
      <td><b>Date de dernière modification</b></td>
      <td><b>Etat</b></td>
    </tr>
    <tr bgcolor="#ffffff">
	  <td><a href="/maay/redir?url=$fileInfo.file_name">$fileInfo.file_name</a></td>
	  <td>$fileInfo.file_time</td>
	  <td>$fileInfo.state</td>
	</tr>
#end for

  </table>
  <br><br>

## Providers information
  <table bgcolor=#aaaaaa border=0 cellspacing=1 cellpadding=2>
    <tr bgcolor="#efefef">
	  <td colspan=2><b>Fournisseurs du document</b></td>
    </tr>
    <tr bgcolor="#ffffff">
      <td><b>Identifiant du noeud<b></td>
      <td><b>Date de dernière mise à disposition</b></td>
    </tr>
#for $documentProvider in $documentProviders
    <tr bgcolor="#ffffff">
	  <td><a href="/maay/nodeinfo?nid=$documentProvider.node_id">$documentProvider.node_id</a></td>
	  <td>$documentProvider.last_providing_time</td>
	</tr>
#end for

  </table>
  <br><br>

## word list
  <table bgcolor=#aaaaaa border=0 cellspacing=1 cellpadding=2>
    <tr bgcolor="#efefef">
	  <td colspan=5>Mots</td>
    </tr>
    <tr bgcolor="#ffffff">
      <td><b>Mot</b></td>
	  <td><b>Nombre de téléchargements</b></td>
	  <td><b>Pertinence</b></td>
	  <td><b>Popularité</b></td>
	  <td><b>Position</b></td>
    </tr>
#for $documentScore in $documentScores
    <tr bgcolor="#ffffff">
      <td><a href="/maay/wordinfo?w=$documentScore.word">$documentScore.word</a></td>
      <td>$documentScore.download_count</td>
      <td>$documentScore.relevance</td>
      <td>$documentScore.popularity</td>
      <td>$documentScore.position</td>
    </tr>
#end for
  </table>
  <br><br>


#include "config/templates/includes/footer.tmpl"
