#set global $title="A propos"
#include "config/templates/includes/header.tmpl"

#set global $selected_top_menu_id=$constants.ABOUT_MENU_ID
#include "config/templates/includes/top_menus.tmpl"

#include "config/templates/includes/footer.tmpl"
