#set global $title="A propos"
#include "config/templates/includes/header.tmpl"

#set global $selected_top_menu_id=$constants.SYSTEM_MENU_ID
#include "config/templates/includes/top_menus.tmpl"

<h1>Node Info</h1>
  <table bgcolor=#aaaaaa border=0 cellspacing=1 cellpadding=1>
    <tr bgcolor="#ffffff">
      <td><b>Identifiant du noeud</b></td><td>$node_id</td>
    </tr>
    <tr bgcolor="#ffffff">
      <td><b>IP</b></td><td>$ip</td>
    </tr>
    <tr bgcolor="#ffffff">
      <td><b>Port</b></td><td>$port</td>
    </tr>
 	</table>

<h1>System Info</h1>
  <table bgcolor=#aaaaaa border=0 cellspacing=1 cellpadding=1>
    <tr bgcolor="#ffffff">
      <td><b>Taux d'utilisation du CPU</b></td><td>$processor_load</td>
    </tr>
    <tr bgcolor="#ffffff">
      <td><b>Mémoire vive disponible</b></td><td>$available_memory</td>
    </tr>
 	</table>

<h1>Repository Info</h1>
  <table bgcolor=#aaaaaa border=0 cellspacing=1 cellpadding=1>
    <tr bgcolor="#ffffff">
      <td>Private files indexed</td><td>$private_document_count ($private_document_size)</td>
    </tr>
    <tr bgcolor="#ffffff">
      <td>Published files indexed</td><td>$published_document_count ($templatetools.size_str($published_document_size))</td>
    </tr>
    <tr bgcolor="#ffffff">
      <td>Cached files indexed</td><td>$cached_document_count ($templatetools.size_str($cached_document_size))</td>
    </tr>
    <tr bgcolor="#ffffff">
      <td>Known Documents</td><td>$known_document_count</td>
    </tr>
    <tr bgcolor="#ffffff">
      <td>Neighbors</td><td>$neighbor_count</td>
    </tr>
  </table>

#include "config/templates/includes/footer.tmpl"
